<html>
    <head>
        <title>Konstantin's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Konstantin's Blog</a></h1>
        </div>

        <div>
            <p>erstellt: 23.11.2019, 15:01</p>
            <h2><a href="">Mein erster Eintrag</a></h2>
            <p>So es geht langsam vorran</p>
        </div>

        <div>
            <p>erstellt: 23.11.2019, 15:02</p>
            <h2><a href="">Mein zweiter Eintrag</a></h2>
            <p>So und weiter geht's</p>
        </div>
    </body>
</html>
